[Unit]
Description=Roscore Container
After=NetworkManager.service time-sync.target
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
-p 9090:9090/udp \
-p 11311:11311 \
roscore/arm64:melodic

[Install]
WantedBy=default.target
